asgiref==3.7.2
beautifulsoup4==4.12.2
botcity-framework-base==0.4.2
botcity-framework-web==0.8.3
botcity-maestro-sdk==0.3.4
certifi==2023.7.22
charset-normalizer==3.2.0
distro==1.8.0
Django==4.2.4
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.8.0
msedge-selenium-tools==3.141.3
numpy==1.25.2
opencv-python==4.8.0.76
packaging==23.1
Pillow==10.0.0
psycopg2==2.9.7
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
selenium==3.141.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
whitenoise==6.5.0
zipp==3.16.2
